:root {
  color-scheme: light;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, "Noto Sans KR", "Malgun Gothic", Arial,
    sans-serif;
}

main {
  max-width: 1100px;
  margin: 0 auto;
}


